* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 800;
}

/* navbar */
.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  transition: 1s;
  border-radius: 20px;
  margin: 10px;
  color: brown;
}

.navbar .navbar-active {
  color: brown;
  border-radius: 20px;
}

/* heroes */
.heroes .heroes-deskriptions {
  text-align: center;
  color: white;
}

.heroes img {
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  width: 250px;
  height: 250px;
}

/* about */
.about h1 {
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  color: white;
}

.about p {
  text-align: justify;
  color: white;
  margin: 20px 10px;
  line-height: 1.5rem;
  font-size: 20px;
}

/* contact me */
.contact h1 {
  font-weight: bold;
  color: white;
  text-align: justify;
  padding: 10px 20px;
  color: white;
  font-weight: 800;
}

.contact {
  text-align: center; /* Memusatkan teks secara horizontal */
  margin-top: 10px; /* Opsional, tambahkan jarak atas */
  margin-bottom: 3rem;
}

.contact a {
  display: inline-block; /* Membuat elemen inline menjadi block agar bisa ditata */
  padding: 10px 20px; /* Memberikan jarak dalam */
  background-color: #ff9800; /* Warna background tombol */
  color: white; /* Warna teks */
  text-decoration: none; /* Menghapus garis bawah */
  font-size: 18px; /* Ukuran font */
  border-radius: 5px; /* Membuat sudut melengkung */
}

.contact a:hover {
  transition: 1s;
  background-color: tomato;
}

/* footer */
.footer p {
  color: white;
  text-align: center;
  background-color: #333;
  padding: 20px 20px;
  margin: 0;
}
